<%= form_with model: @article do |f| %>
  <div class="control">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="control">
    <%= f.label :content %>
    <%= f.text_area :content %>
  </div>
 <div class="control">
    <%= f.label :cover %>
    <%= f.file_field :avatar %>
  </div>
 <div class="control">
    <%= f.label :category %>
    <%= select_tag :categories, options_for_select(@categories) %>
  </div>
  <%= f.submit %>
<% end %>