 

<div class="form-container">
  <% if @user.errors.any? %>
    <ul class="errors_list">
      <% @user.errors.full_messages.each do |msg| %>
        <li class="errors_list-item"><%= msg %></li>
      <% end%>
    </ul>
  <% end %>
  <%= form_with model: @user, class: 'form' do |f| %>
    <div class="control">
      <%= f.label :name, class: "label | text-is-white" %>
      <%= f.text_field :name, class: "input" %>
    </div>
    <div class="control">
      <%= f.label :username, class: "label | text-is-white" %>
      <%= f.text_field :username, class: "input" %>
    </div>
    <div class="control">
      <%= f.label :email, class: "label | text-is-white" %>
      <%= f.text_field :email, class: "input" %>
    </div>
    <%= f.submit class: "form__button | text-is-white" %>
  <% end %>
</div>