<%= form_with model: @category do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :priority %>
    <%= f.select :priority, [1, 2, 3, 4, 5] %>
  </div>
  <%= f.submit %>
<% end %>