<div class="most-voted">
  <%= link_to article_path(@voted_article) do %>
  <%= image_tag(url_for(@voted_article.avatar)) %>
  <%= @voted_article.title %>

  <% end %>
</div>

<div class="category-container">
<% @categories.each do |cat| %>
  <% if !cat.articles.empty? %>
  <div>
    <%= link_to "#{cat.name}", category_path(cat) %>
  </div>
    <%= cat.articles.first.title %>
  <%= image_tag(url_for(cat.articles.first.avatar)) %>
    <% end %>

  <% end %>
</div>

