<h1 class="title">category show view</h1>

<%= @category.name%>
<% @articles.each do |art| %>
  <div>
    <%= art.title %>
  </div>
  <div>
    <%= art.content %>
  </div>
  <div>
    <%= image_tag(url_for(art.avatar)) %>
  </div>
  <%= vote_unvote(art)%>
<% end %>
